<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steve.mathlete"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.steve.mathlete.MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.steve.mathlete.DisplayRan"
            android:label="@string/title_activity_display_ran"
            android:parentActivityName="com.steve.mathlete.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.steve.mathlete.MainActivity" />
        </activity>
        <activity
            android:name="com.steve.mathlete.GameOverScreen"
            android:label="@string/title_activity_game_over_screen" >
        </activity>
        <activity
            android:name="com.steve.mathlete.NumberOne"
            android:label="@string/title_activity_number_one" >
        </activity>
    </application>

</manifest>
